@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Slightly darker grey background */
    color: #f0f0f0; /* Light text color */
    word-break: break-all;
}

:root {
    --foreground-rgb: 28, 28, 28;
    --background-start-rgb: 245, 245, 245;
    --background-end-rgb: 255, 255, 255;
    --button-bg: 99 102 241;
    --button-bg-hover: 99 102 241;
    --button-border: 99 102 241;
    --button-border-hover: 99 102 241;
    --button-text-color: 255 255 255;
    --paginate-button-color: 99 102 241;
    --paginate-button-hover-color: 79,70,229 ;
    --paginate-current-button-color:199 210 254 ;
    --paginate-current-button-hover-color: 179 190 234 ;
    --paginate-button-text-color: 255 255 255 ;
    --paginate-current-button-text-color: 99 102 241 ;
    --reverce-color: 0 0 0 ;
    --sub-text-color: #585353;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 227, 227, 227;
      --background-start-rgb: 33 32 32;
      --background-end-rgb: 43, 42, 42;
      --button-bg: 99 102 241;
      --button-bg-hover: 99 102 241;
      --button-border: 99 102 241;
      --button-border-hover: 99 102 241;
      --button-text-color: 255 255 255;
      --paginate-button-color: 99 102 241;
      --paginate-button-hover-color:79 82 221;
      --paginate-current-button-color:199 210 254 ;
      --paginate-current-button-hover-color: ;
      --paginate-button-text-color:255 255 255 ;
      --paginate-current-button-text-color: 99 102 241 ;
      --reverce-color: 255 255 255 ;
      --sub-text-color: #cbcbcb;
    }
  }
  .paginate-button-color{
    background-color: rgb(var(--paginate-button-color));
  }
  .paginate-button-color:hover{
    background-color: rgb(var(--paginate-button-hover-color));
  }
  .paginate-current-button-color{
    background-color: rgb(var(--paginate-current-button-color));
  }
  .paginate-button-text-color{
    color: rgb(var(--paginate-button-text-color));
  }
  .paginate-current-button-text-color{
    color: rgb(var(--paginate-current-button-text-color));
  }
  .sub-text-color{
    color: var(--sub-text-color);
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
  }

  .content{
    background-color: rgb(var(--background-end-rgb));
  }

  a{
    color: rgb(var(--foreground-rgb));
  }

  .reverce-color{
    background-color: rgb(var(--reverce-color));
  }
  

.timeline {
    list-style: none;
}
.timeline > li {
    margin-bottom: 60px;
}
.introduction > h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 3rem;
    border-bottom: solid 1px rgba(92,147,187,.17);
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.theme-button {
    background-color: rgb(var(--button-bg));
    border-color: rgb(var(--button-border));
    transition: background-color 0.3s ease, border-color 0.3s ease;
    color: rgb(var(--button-text-color));
}

.theme-button:hover {
    background-color: rgb(var(--button-bg-hover));
    border-color: rgb(var(--button-border-hover));
}

.introduction >h1 {
  border-bottom: solid 1px rgba(92,147,187,.17);
}

.introduction h3 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    padding-left: 10px;
}

.introduction > p{
    line-height: 2.5;
}

.introduction > ul{
    line-height: 2.5;
}

/* for Desktop */
@media ( min-width : 640px ){
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }
    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
        padding-top: 20px;
    }
    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #837ccf;
        position: absolute;
        left: 106px;
        top: 33px;
        border-radius: 100%;
    }
}

.scroll_bar{
    background-color: rgba(0, 0, 0, 0); /* 背景を透明に設定 */
}
.scroll_bar::-webkit-scrollbar{
    width: 10px;
}
.scroll_bar::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0); /* トラック背景を透明に設定 */
}
.scroll_bar::-webkit-scrollbar-thumb{
    background-color: #888; /* スクロールバーのつまみを灰色に設定 */
}

.top > h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.top > h1:before, .top > h1:after {
  color: rgb(var(--foreground-rgb));
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: rgb(var(--foreground-rgb));
}

.top > h1:before {
  left:0;
}
.top > h1:after {
  right: 0;
}

.link-card {
  -webkit-box-align: center;
  border: 0.3px solid rgb(var(--foreground-rgb)) !important;
  border-radius: 8px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  word-break: break-all;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.link-card > a{
  color: rgb(var(--foreground-rgb)) !important;
  width: 100%;
}

.link-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.link-card-body {
  display: flex;
  justify-content: space-between;
}

.link-card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.0rem;
  flex: 1; /* 情報セクションが残りのスペースを埋める */
}

.link-card-title {
  color: var(--color-text-high-emphasis);
  display: -webkit-box;
  font-weight: 600;
  font-size: 1.0rem;
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link-card-url {
  color: var(--color-text-high-emphasis);
  display: -webkit-box;
  font-size: 12px;
  line-height: 1.8;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


.link-card-thumbnail {
  border-left: 1px solid var(--color-divider);
  flex-shrink: 0;
  object-fit: cover;
  width: 270px;
  margin: 0 !important;
}

.link-card-body > img {
  border-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  height: 110px !important;
}

@media (max-width: 768px){
  .link-card-thumbnail {
    width: 220px;
  }
}

@media (max-width: 479px){
  .link-card-thumbnail {
    width: 110px;
  }
}