@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 15s ease infinite;
  background-size: 200% 200%;
}

body {
  margin: 0;
  padding: 0;
  word-break: break-all;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
  font-family: 游ゴシック体, YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', 游ゴシック,
    'Yu Gothic', メイリオ, sans-serif;
}

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
  --button-bg: 6 182 212;
  --button-bg-hover: 8 145 178;
  --button-border: 6 182 212;
  --button-border-hover: 8 145 178;
  --button-text-color: 255 255 255;
  --paginate-button-color: 6 182 212;
  --paginate-button-hover-color: 8 145 178;
  --paginate-current-button-color: 165 243 252;
  --paginate-current-button-hover-color: 103 232 249;
  --paginate-button-text-color: 255 255 255;
  --paginate-current-button-text-color: 8 145 178;
  --reverce-color: 0 0 0;
  --sub-text-color: #64748b;
}

.dark {
  --foreground-rgb: 241, 245, 249;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 30, 41, 59;
  --button-bg: 6 182 212;
  --button-bg-hover: 34 211 238;
  --button-border: 6 182 212;
  --button-border-hover: 34 211 238;
  --button-text-color: 255 255 255;
  --paginate-button-color: 6 182 212;
  --paginate-button-hover-color: 34 211 238;
  --paginate-current-button-color: 165 243 252;
  --paginate-current-button-hover-color: 103 232 249;
  --paginate-button-text-color: 255 255 255;
  --paginate-current-button-text-color: 8 145 178;
  --reverce-color: 255 255 255;
  --sub-text-color: #94a3b8;
}
.paginate-button-color {
  background-color: rgb(var(--paginate-button-color));
}
.paginate-button-color:hover {
  background-color: rgb(var(--paginate-button-hover-color));
}
.paginate-current-button-color {
  background-color: rgb(var(--paginate-current-button-color));
}
.paginate-button-text-color {
  color: rgb(var(--paginate-button-text-color));
}
.paginate-current-button-text-color {
  color: rgb(var(--paginate-current-button-text-color));
}
.sub-text-color {
  color: var(--sub-text-color);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.content {
  background-color: rgb(var(--background-end-rgb));
  transition: background-color 0.3s ease;
}

.table-contents {
  background-color: rgb(var(--background-end-rgb));
  transition: background-color 0.3s ease;
}

a {
  color: rgb(var(--foreground-rgb));
}

.markdown {
  color: rgb(var(--foreground-rgb)) !important;
}

.markdown * {
  color: inherit;
}

.reverce-color {
  background-color: rgb(var(--reverce-color));
}

.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}
.introduction > h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px rgba(92, 147, 187, 0.17);
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.theme-button {
  background-color: rgb(var(--button-bg));
  border-color: rgb(var(--button-border));
  transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.4s ease;
  color: rgb(var(--button-text-color));
}

.theme-button:hover {
  background-color: rgb(var(--button-bg-hover));
  border-color: rgb(var(--button-border-hover));
  transform: scale(1.05); /* ホバー時に少し拡大 */
}

.theme-button:active {
  transform: scale(0.95); /* 押したときに少し縮小 */
}

.introduction > h1 {
  border-bottom: solid 1px rgba(92, 147, 187, 0.17);
}

.introduction h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  padding-left: 10px;
}

.introduction > p {
  line-height: 2.5;
}

.introduction > ul {
  line-height: 2.5;
}

/* for Desktop */
@media (min-width: 640px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
    padding-top: 20px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #837ccf;
    position: absolute;
    left: 106px;
    top: 33px;
    border-radius: 100%;
  }
}

.scroll_bar {
  background-color: rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 102, 241, 0.5) transparent;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6366f1, #a855f7);
  border-radius: 10px;
  transition: all 0.3s ease;
}
.scroll_bar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #4f46e5, #9333ea);
}

.top > h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  color: rgb(var(--foreground-rgb)) !important;
}

.top > h1:before,
.top > h1:after {
  color: rgb(var(--foreground-rgb));
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: rgb(var(--foreground-rgb));
}

.top > h1:before {
  left: 0;
}
.top > h1:after {
  right: 0;
}

.link-card {
  -webkit-box-align: center;
  border: 0.3px solid rgb(var(--foreground-rgb)) !important;
  border-radius: 8px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  word-break: break-all;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.link-card > a {
  color: rgb(var(--foreground-rgb)) !important;
  width: 100%;
}

.link-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.link-card-body {
  display: flex;
  justify-content: space-between;
}

.link-card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  flex: 1; /* 情報セクションが残りのスペースを埋める */
}

.link-card-title {
  color: var(--color-text-high-emphasis);
  display: -webkit-box;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link-card-url {
  color: var(--color-text-high-emphasis);
  display: -webkit-box;
  font-size: 12px;
  line-height: 1.8;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.link-card-thumbnail {
  border-left: 1px solid var(--color-divider);
  flex-shrink: 0;
  object-fit: cover;
  width: 200px;
  margin: 0 !important;
}

.link-card-body > img {
  border-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  height: 110px !important;
}

@media (max-width: 768px) {
  .link-card-thumbnail {
    width: 220px;
  }
}

@media (max-width: 479px) {
  .link-card-thumbnail {
    width: 110px;
  }
}

.loading {
  opacity: 0.6;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  border: 15px solid rgb(var(--foreground-rgb));
  border-top-color: rgb(var(--background-start-rgb));
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 35%;
  animation: circle 1s linear infinite;
  -webkit-animation: circle 1s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
